---

_This notebook is based on materials from Coursera course [Introduction to data science with python](https://www.coursera.org/learn/python-data-analysis/)._

---

#### Data on trees owned by the municipality, designated as ‚Äúpublic domain‚Äù: street and off-street trees (parks and public places) in Montreal, Canada.

Source:
https://donnees.montreal.ca/ville-de-montreal/arbres

In [68]:
import numpy as np
import pandas as pd

Tree=pd.read_excel('Q:\Process_min\Process_Mining\Trees_Monreal.xlsx')
Tree.columns=['Relievo','Plant name', 'Barrel circumference, cm', 'Data planted', 'Park']



Tree.head(10)

,Relievo,Plant name,"Barrel circumference, cm",Data planted,Park
0,Parterre Gazonn√É,Gleditsia triacanthos 'Skyline',25.0,2004-06-10,RAIMBAULT
1,Parterre Gazonn√É,Gleditsia triacanthos 'Skyline',32.0,2004-06-18,RAIMBAULT
2,Parterre Gazonn√É,Gymnocladus dioicus,21.0,2004-06-10,RAIMBAULT
3,Parterre Gazonn√É,Fraxinus nigra 'Fall Gold',5.0,2004-06-18,RAIMBAULT
4,Parterre Gazonn√É,Quercus rubra,34.0,2004-06-18,RAIMBAULT
5,Parterre Gazonn√É,Quercus macrocarpa,21.0,2004-06-18,RAIMBAULT
6,Parterre Gazonn√É,Acer saccharinum 'Montr√É¬©al',30.0,2004-06-18,RAIMBAULT
7,Parterre Gazonn√É,Acer platanoides 'Emerald Queen',34.0,2004-06-18,RAIMBAULT
8,Parterre Gazonn√É,Thuja occidentalis 'Nigra',27.2,2004-06-18,RAIMBAULT
9,Parterre Gazonn√É,Thuja occidentalis 'Nigra',27.8,2004-06-18,RAIMBAULT

### Question 1

How many trees in Montreal? üå≥

In [69]:
count_t=len(Tree)

print('In Montreal are',count_t,'trees.')

In Montreal are 327059 trees.

### Question 2

How old is the oldest tree in Montreal?

In [47]:
#%pip install DateTime

import datetime
 
Tree['Data planted'] = Tree['Data planted'].astype('datetime64[ns]')

old=Tree['Data planted'].min()
old.to_datetime64()

today = datetime.datetime.now()
age= today - old 
age=age.total_seconds()
age=int(age/31536000)
print(age, 'years')

120 years

### Question 3

What are 3 the most popular type of plant  in Montreal?

In [48]:
import numpy as np

Tree_3=Tree.groupby(['Plant name']).agg({'Plant name':np.size})
Tree_3=Tree_3['Plant name'].sort_values(ascending=False)
Top_3=Tree_3.index[0:3]
Top_3=Top_3.values.tolist()
Top_3

['Acer saccharinum', 'Acer platanoides', 'Fraxinus pennsylvanica']

### Question 4

What is the average diameter of a tree in Montreal?

In [49]:
av_bc=Tree['Barrel circumference, cm'].mean()
av_bc=round(av_bc,2)

print(av_bc, 'cm')

26.64 cm

### Question 5

What park is the biggest in Montreal?

In [67]:
import numpy as np

Tree_p=Tree.groupby(['Park']).agg({'Park':np.size})
Tree_p=Tree_p['Park'].sort_values(ascending=False)
Tree_p.index[0]

'MAISONNEUVE, DE'